.home {
  width: 90%;
  margin: 6rem auto 1.5rem auto;
  background-color: $bgColor;
  &.flex {
    display: flex;
    flex-direction: row;
    padding: 0 15rem;
    height: 60vh;
    align-items: center;
  }
  .summary {
    margin: 1rem 0;
  }
  .btn {
    margin-top: 1rem;
    padding: 0.5rem;
    width: fit-content;
    border: 2px solid $btnColor;
    color: $btnColor;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: $bgColor;
      background-color: $btnColor;
    }
  }
}

.my-image {
  margin-right: 3rem;
  border-radius: 50%;
  height: 250px;
  box-shadow: $textColor 0 0 10px;
}

@media (max-width: 845px) {
  .home {
    width: 90%;
    margin: 8rem auto;
    margin-top: 8rem;
    // border: 1px solid red;
    &.flex {
      display: flex;
      &.section {
        padding: 1rem;
        flex-direction: row;
      }
      &.home {
        height: 75vh;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 5rem;
        .pic {
          padding: 0.5rem;
        }
        .my-image {
          margin: 0;
          height: 200px;
        }
      }
    }
  }
}
